<h2 style="font-size:20px;color:#dcdcdc;font-style:Courier, 'Lucida Console', monospace"> {{model.question}}</h2>
<div>
	<button class="answerChoice" {{ action "setAnswer" model.option1}}>{{model.option1}}
</button>
	<br> <br>
	<button class="answerChoice" {{ action "setAnswer" model.option2}}>{{model.option2}}
</button>
	<br> <br>
	<button class="answerChoice" {{ action "setAnswer" model.option3}}>{{model.option3}}
</button>
	<br>
	<br>
</div>

<div>
	{{#if selected}}
		{{#if (compare-int (sum model.id) '<' 4) }}
			<input type="button" value="Next" class="placeBottomCenter" {{ action "saveAndShowNextQuestion" (sum model.id) }}> {{ else }}
			<input type="button" value="Next" class="placeBottomCenter" {{ action "saveAndShowResult"}}>
		{{/if}}
	{{/if}}
</div>
<div>
	{{#if (compare-int (sum model.id) '<' 4) }}
		<input type="button" value="Pass  &gt;" class="placeRight" {{ action "dontSaveAndShowNextQuestion" (sum model.id )}}> {{ else }}
		<input type="button" value="Pass  &gt;" class="placeRight" {{ action "dontSaveAndShowResult" (sum model.id )}}>
	{{/if}}
</div>
<div>
	<input type="button" value="&lt;  Quit" class="placeLeft" {{ action "goHome" }}>
</div>
