<div style="background-color:#000000;color: #80d4ff">
	<span style="margin-left:-60%;position: absolute;">Question {{model.id}}/3</span>
	<span style="margin-right:-60%;">Weight 1</span>
</div>
<br>
<h2 class="question"> {{model.questionText}}</h2>

<div>
	{{#each model.options as |option|}}
		<button class="answerChoice" {{ action "setAnswer" option.name}}>{{option.name}}
</button>
		<br> <br>
	{{/each}}
</div>
<div>
	{{#if selected}}
		<input type="button" value="Next" class="placeBottomCenter" {{ action "saveAndShowNextQuestion" (sum model.id) }}>
	{{else}}
		<input type="button" value="Next" class="placeBottomCenter" disabled {{ action "saveAndShowNextQuestion" (sum model.id) }}>
	{{/if}}

</div>
<div>
	<input type="button" value="Pass  &gt;" class="placeRight" {{ action "dontSaveAndShowNextQuestion" (sum model.id )}}>
</div>
<div>
	<input type="button" value="&lt;  Quit" class="placeLeft" {{ action "goHome" }}>
</div>
