<h1 class="appname">
	<span>Q</span>
	<span>U</span>
	<span>I</span>
	<span>Z</span>
</h1>
<h2 style="color:#80d4ff">Results</h2>
<div class="scoreBox">
	<h3 class="results"> Congratulations, {{ username}}!</h3>
	<h2 class="results"> Your Score is <br></h2>
	<h1 class="results">{{ totalScore}}</h1>
</div>
<div>
	<h2 style="color:#80d4ff;display:inline-block" >{{ answered}}</h2>
	<span class="results">/3</span>
</div>
<div class="footer">
	<button class="selectStart" {{ action "showFirstQuestion" }}> Play Again</button> <br>
	<br> <button class="selectBottom" {{ action "goHome" }}>New Game</button>
</div>
